VIA-Cinema/Web References/localhost/VIACinemaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="Get_x0020_all_x0020_movies_x0020_from_x0020_today_x002C__x0020_without_x0020_shows_x0020_info">
        <s:complexType />
      </s:element>
      <s:element name="Get_x0020_all_x0020_movies_x0020_from_x0020_today_x002C__x0020_without_x0020_shows_x0020_infoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_x0020_all_x0020_movies_x0020_from_x0020_today_x002C__x0020_without_x0020_shows_x0020_infoResult" type="tns:ArrayOfMovie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMovie">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Movie" nillable="true" type="tns:Movie" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Movie">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReleaseDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Shows" type="tns:ArrayOfShow" />
          <s:element minOccurs="0" maxOccurs="1" name="Cover" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfShow">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Show" nillable="true" type="tns:Show" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Show">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Room" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AvailableSeats" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Get_x0020_shows_x0020_of_x0020_all_x0020_movies_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="day" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_x0020_shows_x0020_of_x0020_all_x0020_movies_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_todayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_x0020_shows_x0020_of_x0020_all_x0020_movies_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_todayResult" type="tns:ArrayOfMovie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_x0020_shows_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today_x0020_for_x0020_the_x0020_movie_x0020_with_x0020_MovieID_x0020__x003D__x0020_id">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="day" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_x0020_shows_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today_x0020_for_x0020_the_x0020_movie_x0020_with_x0020_MovieID_x0020__x003D__x0020_idResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_x0020_shows_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today_x0020_for_x0020_the_x0020_movie_x0020_with_x0020_MovieID_x0020__x003D__x0020_idResult" type="tns:ArrayOfShow" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_x0020_just_x0020_movie_x0020_info_x002C__x0020_without_x0020_shows">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get_x0020_just_x0020_movie_x0020_info_x002C__x0020_without_x0020_showsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Get_x0020_just_x0020_movie_x0020_info_x002C__x0020_without_x0020_showsResult" type="tns:Movie" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Get_x0020_all_x0020_movies_x0020_from_x0020_today_x002C__x0020_without_x0020_shows_x0020_infoSoapIn">
    <wsdl:part name="parameters" element="tns:Get_x0020_all_x0020_movies_x0020_from_x0020_today_x002C__x0020_without_x0020_shows_x0020_info" />
  </wsdl:message>
  <wsdl:message name="Get_x0020_all_x0020_movies_x0020_from_x0020_today_x002C__x0020_without_x0020_shows_x0020_infoSoapOut">
    <wsdl:part name="parameters" element="tns:Get_x0020_all_x0020_movies_x0020_from_x0020_today_x002C__x0020_without_x0020_shows_x0020_infoResponse" />
  </wsdl:message>
  <wsdl:message name="Get_x0020_shows_x0020_of_x0020_all_x0020_movies_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_todaySoapIn">
    <wsdl:part name="parameters" element="tns:Get_x0020_shows_x0020_of_x0020_all_x0020_movies_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today" />
  </wsdl:message>
  <wsdl:message name="Get_x0020_shows_x0020_of_x0020_all_x0020_movies_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_todaySoapOut">
    <wsdl:part name="parameters" element="tns:Get_x0020_shows_x0020_of_x0020_all_x0020_movies_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_todayResponse" />
  </wsdl:message>
  <wsdl:message name="Get_x0020_shows_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today_x0020_for_x0020_the_x0020_movie_x0020_with_x0020_MovieID_x0020__x003D__x0020_idSoapIn">
    <wsdl:part name="parameters" element="tns:Get_x0020_shows_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today_x0020_for_x0020_the_x0020_movie_x0020_with_x0020_MovieID_x0020__x003D__x0020_id" />
  </wsdl:message>
  <wsdl:message name="Get_x0020_shows_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today_x0020_for_x0020_the_x0020_movie_x0020_with_x0020_MovieID_x0020__x003D__x0020_idSoapOut">
    <wsdl:part name="parameters" element="tns:Get_x0020_shows_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today_x0020_for_x0020_the_x0020_movie_x0020_with_x0020_MovieID_x0020__x003D__x0020_idResponse" />
  </wsdl:message>
  <wsdl:message name="Get_x0020_just_x0020_movie_x0020_info_x002C__x0020_without_x0020_showsSoapIn">
    <wsdl:part name="parameters" element="tns:Get_x0020_just_x0020_movie_x0020_info_x002C__x0020_without_x0020_shows" />
  </wsdl:message>
  <wsdl:message name="Get_x0020_just_x0020_movie_x0020_info_x002C__x0020_without_x0020_showsSoapOut">
    <wsdl:part name="parameters" element="tns:Get_x0020_just_x0020_movie_x0020_info_x002C__x0020_without_x0020_showsResponse" />
  </wsdl:message>
  <wsdl:portType name="VIACinemaServiceSoap">
    <wsdl:operation name="GetAllMovies">
      <wsdl:input name="Get_x0020_all_x0020_movies_x0020_from_x0020_today_x002C__x0020_without_x0020_shows_x0020_info" message="tns:Get_x0020_all_x0020_movies_x0020_from_x0020_today_x002C__x0020_without_x0020_shows_x0020_infoSoapIn" />
      <wsdl:output name="Get_x0020_all_x0020_movies_x0020_from_x0020_today_x002C__x0020_without_x0020_shows_x0020_info" message="tns:Get_x0020_all_x0020_movies_x0020_from_x0020_today_x002C__x0020_without_x0020_shows_x0020_infoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMoviesOfDay">
      <wsdl:input name="Get_x0020_shows_x0020_of_x0020_all_x0020_movies_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today" message="tns:Get_x0020_shows_x0020_of_x0020_all_x0020_movies_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_todaySoapIn" />
      <wsdl:output name="Get_x0020_shows_x0020_of_x0020_all_x0020_movies_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today" message="tns:Get_x0020_shows_x0020_of_x0020_all_x0020_movies_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_todaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetShowsOfDay">
      <wsdl:input name="Get_x0020_shows_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today_x0020_for_x0020_the_x0020_movie_x0020_with_x0020_MovieID_x0020__x003D__x0020_id" message="tns:Get_x0020_shows_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today_x0020_for_x0020_the_x0020_movie_x0020_with_x0020_MovieID_x0020__x003D__x0020_idSoapIn" />
      <wsdl:output name="Get_x0020_shows_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today_x0020_for_x0020_the_x0020_movie_x0020_with_x0020_MovieID_x0020__x003D__x0020_id" message="tns:Get_x0020_shows_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today_x0020_for_x0020_the_x0020_movie_x0020_with_x0020_MovieID_x0020__x003D__x0020_idSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMovieInfo">
      <wsdl:input name="Get_x0020_just_x0020_movie_x0020_info_x002C__x0020_without_x0020_shows" message="tns:Get_x0020_just_x0020_movie_x0020_info_x002C__x0020_without_x0020_showsSoapIn" />
      <wsdl:output name="Get_x0020_just_x0020_movie_x0020_info_x002C__x0020_without_x0020_shows" message="tns:Get_x0020_just_x0020_movie_x0020_info_x002C__x0020_without_x0020_showsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VIACinemaServiceSoap" type="tns:VIACinemaServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMovies">
      <soap:operation soapAction="http://localhost/Get all movies from today, without shows info" style="document" />
      <wsdl:input name="Get_x0020_all_x0020_movies_x0020_from_x0020_today_x002C__x0020_without_x0020_shows_x0020_info">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Get_x0020_all_x0020_movies_x0020_from_x0020_today_x002C__x0020_without_x0020_shows_x0020_info">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesOfDay">
      <soap:operation soapAction="http://localhost/Get shows of all movies of &quot;day&quot; days from today" style="document" />
      <wsdl:input name="Get_x0020_shows_x0020_of_x0020_all_x0020_movies_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Get_x0020_shows_x0020_of_x0020_all_x0020_movies_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowsOfDay">
      <soap:operation soapAction="http://localhost/Get shows of &quot;day&quot; days from today for the movie with MovieID = id" style="document" />
      <wsdl:input name="Get_x0020_shows_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today_x0020_for_x0020_the_x0020_movie_x0020_with_x0020_MovieID_x0020__x003D__x0020_id">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Get_x0020_shows_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today_x0020_for_x0020_the_x0020_movie_x0020_with_x0020_MovieID_x0020__x003D__x0020_id">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieInfo">
      <soap:operation soapAction="http://localhost/Get just movie info, without shows" style="document" />
      <wsdl:input name="Get_x0020_just_x0020_movie_x0020_info_x002C__x0020_without_x0020_shows">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Get_x0020_just_x0020_movie_x0020_info_x002C__x0020_without_x0020_shows">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VIACinemaServiceSoap12" type="tns:VIACinemaServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMovies">
      <soap12:operation soapAction="http://localhost/Get all movies from today, without shows info" style="document" />
      <wsdl:input name="Get_x0020_all_x0020_movies_x0020_from_x0020_today_x002C__x0020_without_x0020_shows_x0020_info">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Get_x0020_all_x0020_movies_x0020_from_x0020_today_x002C__x0020_without_x0020_shows_x0020_info">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesOfDay">
      <soap12:operation soapAction="http://localhost/Get shows of all movies of &quot;day&quot; days from today" style="document" />
      <wsdl:input name="Get_x0020_shows_x0020_of_x0020_all_x0020_movies_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Get_x0020_shows_x0020_of_x0020_all_x0020_movies_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowsOfDay">
      <soap12:operation soapAction="http://localhost/Get shows of &quot;day&quot; days from today for the movie with MovieID = id" style="document" />
      <wsdl:input name="Get_x0020_shows_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today_x0020_for_x0020_the_x0020_movie_x0020_with_x0020_MovieID_x0020__x003D__x0020_id">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Get_x0020_shows_x0020_of_x0020__x0022_day_x0022__x0020_days_x0020_from_x0020_today_x0020_for_x0020_the_x0020_movie_x0020_with_x0020_MovieID_x0020__x003D__x0020_id">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieInfo">
      <soap12:operation soapAction="http://localhost/Get just movie info, without shows" style="document" />
      <wsdl:input name="Get_x0020_just_x0020_movie_x0020_info_x002C__x0020_without_x0020_shows">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="Get_x0020_just_x0020_movie_x0020_info_x002C__x0020_without_x0020_shows">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VIACinemaService">
    <wsdl:port name="VIACinemaServiceSoap" binding="tns:VIACinemaServiceSoap">
      <soap:address location="http://localhost:52492/WebService/VIACinemaService.asmx" />
    </wsdl:port>
    <wsdl:port name="VIACinemaServiceSoap12" binding="tns:VIACinemaServiceSoap12">
      <soap12:address location="http://localhost:52492/WebService/VIACinemaService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>