VIA-Cinema/Web References/localhost/VIACinemaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="GetAllMovies">
        <s:complexType />
      </s:element>
      <s:element name="GetAllMoviesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMoviesResult" type="tns:ArrayOfMovie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMovie">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Movie" nillable="true" type="tns:Movie" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Movie">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReleaseDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Shows" type="tns:ArrayOfShow" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfShow">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Show" nillable="true" type="tns:Show" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Show">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Room" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMoviesOfDay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="day" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMoviesOfDayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMoviesOfDayResult" type="tns:ArrayOfMovie" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMovieInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMovieInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMovieInfoResult" type="tns:Movie" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllMoviesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMovies" />
  </wsdl:message>
  <wsdl:message name="GetAllMoviesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="GetMoviesOfDaySoapIn">
    <wsdl:part name="parameters" element="tns:GetMoviesOfDay" />
  </wsdl:message>
  <wsdl:message name="GetMoviesOfDaySoapOut">
    <wsdl:part name="parameters" element="tns:GetMoviesOfDayResponse" />
  </wsdl:message>
  <wsdl:message name="GetMovieInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetMovieInfo" />
  </wsdl:message>
  <wsdl:message name="GetMovieInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetMovieInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="VIACinemaServiceSoap">
    <wsdl:operation name="GetAllMovies">
      <wsdl:input message="tns:GetAllMoviesSoapIn" />
      <wsdl:output message="tns:GetAllMoviesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMoviesOfDay">
      <wsdl:input message="tns:GetMoviesOfDaySoapIn" />
      <wsdl:output message="tns:GetMoviesOfDaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMovieInfo">
      <wsdl:input message="tns:GetMovieInfoSoapIn" />
      <wsdl:output message="tns:GetMovieInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VIACinemaServiceSoap" type="tns:VIACinemaServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMovies">
      <soap:operation soapAction="http://localhost/GetAllMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesOfDay">
      <soap:operation soapAction="http://localhost/GetMoviesOfDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieInfo">
      <soap:operation soapAction="http://localhost/GetMovieInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VIACinemaServiceSoap12" type="tns:VIACinemaServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllMovies">
      <soap12:operation soapAction="http://localhost/GetAllMovies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesOfDay">
      <soap12:operation soapAction="http://localhost/GetMoviesOfDay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieInfo">
      <soap12:operation soapAction="http://localhost/GetMovieInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VIACinemaService">
    <wsdl:port name="VIACinemaServiceSoap" binding="tns:VIACinemaServiceSoap">
      <soap:address location="http://localhost:52492/WebService/VIACinemaService.asmx" />
    </wsdl:port>
    <wsdl:port name="VIACinemaServiceSoap12" binding="tns:VIACinemaServiceSoap12">
      <soap12:address location="http://localhost:52492/WebService/VIACinemaService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>